<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Document Settings -->
	<meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<title>[DEV] VeganMSP.com</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css" />

</head>
<body>
	<div class="container">
		<header>
			<h1 class="page-title">
         {% if page.title %}
         {{ page.title }}
         {% else %}
         {{ site.title }}
         {% endif %}
       </h1>
			<div class="tagline">Just another vegan information site.</div>
		</header>

		<navigation>
			{%- include navigation.html -%}
		</navigation>
	
		{{ content }}

		<div class="footer">
			<div class="footer-col-1">
			</div>
			<div class="footer-col-2">
				{%- include footer.html -%}
			</div>
		</div>

	</div>

</body>
</html>